In [122]:
import pandas as pd
import numpy as np
from datetime import datetime
df = pd.read_excel("C:\\Users\\Admin\\Documents\\MATLAB\\eeglab2023.1\\EyeTrackerData.xlsx")

In [123]:
df = df.loc[:,["Sensor Time", "Lft X Pos", "Lft Y Pos", "Lft Pupil Diameter","Rt X Pos", "Rt Y Pos","Rt Pupil Diameter","Capture Time"]]

In [124]:
df['gaze_x'] = (df['Lft X Pos'] + df["Rt X Pos"])/2
df['gaze_y'] = (df['Lft Y Pos'] + df["Rt Y Pos"])/2

In [125]:
df['time_convert'] = df['Capture Time'].apply(lambda x: datetime.utcfromtimestamp(x/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [126]:
df['time_convert'] = df['time_convert'].apply(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))

In [127]:
def blink_detection(x, y, time, missing=0.0, minlen=10):

    """Detects blinks, defined as a period of missing data that lasts for at
    least a minimal amount of samples

    arguments
    x		-	numpy array of x positions
    y		-	numpy array of y positions
    time		-	numpy array of EyeTribe timestamps
    keyword arguments
    missing	-	value to be used for missing data (default = 0.0)
    minlen	-	integer indicating the minimal amount of consecutive
                missing samples

    returns
    Sblk, Eblk, total_duration
                Sblk	-	list of lists, each containing [starttime]
                Eblk	-	list of lists, each containing [starttime, endtime, duration]
                total_duration - total duration of blinks
    """

    # empty list to contain data
    Sblk = []
    Eblk = []
    total_duration = 0

    # check where the missing samples are
    mx = np.array(x==missing, dtype=int)
    my = np.array(y==missing, dtype=int)
    miss = np.array((mx+my) == 2, dtype=int)

    # check where the starts and ends are (+1 to counteract shift to left)
    diff = np.diff(miss)
    starts = np.where(diff==1)[0] + 1
    ends = np.where(diff==-1)[0] + 1

    # compile blink starts and ends
    for i in range(len(starts)):
        # get starting index
        s = starts[i]
        # get ending index
        if i < len(ends):
            e = ends[1+i]
        # elif len(ends) > 0:
        #     e = ends[-1]
        else:
            e = -1
        # append only if the duration in samples is equal to or greater than
        # the minimal duration
        if e-s>= minlen:
            # add starting time
            Sblk.append([time[s]])
            # add ending time and calculate duration
            duration = (time[e] - time[s]).seconds/1000
            total_duration += duration
            Eblk.append([time[s], time[e], total_duration])

    return Sblk, Eblk, total_duration

# Call the blink_detection function
Sblk, Eblk, total_duration = blink_detection(df['gaze_x'], df['gaze_y'], df['time_convert'], minlen=10)
num_blinks = len(Eblk) 
blink_rate = len(Eblk) /((df['time_convert'].iloc[-1] - df['time_convert'].iloc[0]).total_seconds()/60000)
n=total_duration/num_blinks
# Output results
print("Sblk:", Sblk)
print("Eblk:", Eblk)
print("Total number of blinks in the given data :", num_blinks)
print("Average blink duration :", n)
print("Blink rate (blinks per Minute):", blink_rate)

Sblk: [[Timestamp('1972-04-10 22:20:54')], [Timestamp('1972-04-10 23:45:16')], [Timestamp('1972-04-11 00:11:25')], [Timestamp('1972-04-11 02:19:53')], [Timestamp('1972-04-11 03:10:12')], [Timestamp('1972-04-11 05:33:42')], [Timestamp('1972-04-11 08:09:46')], [Timestamp('1972-04-11 09:28:32')], [Timestamp('1972-04-11 11:45:32')], [Timestamp('1972-04-11 12:52:04')], [Timestamp('1972-04-11 13:05:15')], [Timestamp('1972-04-11 13:08:48')], [Timestamp('1972-04-11 13:17:45')], [Timestamp('1972-04-11 13:22:57')], [Timestamp('1972-04-11 13:29:58')], [Timestamp('1972-04-11 14:35:25')], [Timestamp('1972-04-11 23:01:06')], [Timestamp('1972-04-12 01:32:58')], [Timestamp('1972-04-12 01:49:47')], [Timestamp('1972-04-12 05:19:05')], [Timestamp('1972-04-12 06:28:18')], [Timestamp('1972-04-12 07:19:12')], [Timestamp('1972-04-12 07:49:29')], [Timestamp('1972-04-12 08:20:47')], [Timestamp('1972-04-12 09:54:51')], [Timestamp('1972-04-12 10:08:29')], [Timestamp('1972-04-12 10:21:23')], [Timestamp('1972-04-12 13:33:06')], [Timestamp('1972-04-13 03:39:45')], [Timestamp('1972-04-13 08:51:20')]]
Eblk: [[Timestamp('1972-04-10 22:20:54'), Timestamp('1972-04-10 22:24:04'), 0.19], [Timestamp('1972-04-10 23:45:16'), Timestamp('1972-04-10 23:56:09'), 0.843], [Timestamp('1972-04-11 00:11:25'), Timestamp('1972-04-11 01:28:53'), 5.491], [Timestamp('1972-04-11 02:19:53'), Timestamp('1972-04-11 02:23:08'), 5.686], [Timestamp('1972-04-11 03:10:12'), Timestamp('1972-04-11 03:12:52'), 5.846], [Timestamp('1972-04-11 05:33:42'), Timestamp('1972-04-11 05:59:44'), 7.408], [Timestamp('1972-04-11 08:09:46'), Timestamp('1972-04-11 09:14:27'), 11.289], [Timestamp('1972-04-11 09:28:32'), Timestamp('1972-04-11 09:50:47'), 12.623999999999999], [Timestamp('1972-04-11 11:45:32'), Timestamp('1972-04-11 12:18:08'), 14.579999999999998], [Timestamp('1972-04-11 12:52:04'), Timestamp('1972-04-11 13:01:30'), 15.145999999999999], [Timestamp('1972-04-11 13:05:15'), Timestamp('1972-04-11 13:08:39'), 15.35], [Timestamp('1972-04-11 13:08:48'), Timestamp('1972-04-11 13:17:12'), 15.854], [Timestamp('1972-04-11 13:17:45'), Timestamp('1972-04-11 13:22:46'), 16.154999999999998], [Timestamp('1972-04-11 13:22:57'), Timestamp('1972-04-11 13:29:07'), 16.525], [Timestamp('1972-04-11 13:29:58'), Timestamp('1972-04-11 13:48:10'), 17.616999999999997], [Timestamp('1972-04-11 14:35:25'), Timestamp('1972-04-11 14:38:06'), 17.778], [Timestamp('1972-04-11 23:01:06'), Timestamp('1972-04-11 23:03:46'), 17.938], [Timestamp('1972-04-12 01:32:58'), Timestamp('1972-04-12 01:36:17'), 18.137], [Timestamp('1972-04-12 01:49:47'), Timestamp('1972-04-12 01:53:00'), 18.330000000000002], [Timestamp('1972-04-12 05:19:05'), Timestamp('1972-04-12 05:43:17'), 19.782000000000004], [Timestamp('1972-04-12 06:28:18'), Timestamp('1972-04-12 07:18:33'), 22.797000000000004], [Timestamp('1972-04-12 07:19:12'), Timestamp('1972-04-12 07:27:14'), 23.279000000000003], [Timestamp('1972-04-12 07:49:29'), Timestamp('1972-04-12 08:20:38'), 25.148000000000003], [Timestamp('1972-04-12 08:20:47'), Timestamp('1972-04-12 09:17:27'), 28.548000000000002], [Timestamp('1972-04-12 09:54:51'), Timestamp('1972-04-12 10:08:09'), 29.346000000000004], [Timestamp('1972-04-12 10:08:29'), Timestamp('1972-04-12 10:20:19'), 30.056000000000004], [Timestamp('1972-04-12 10:21:23'), Timestamp('1972-04-12 11:43:09'), 34.962], [Timestamp('1972-04-12 13:33:06'), Timestamp('1972-04-12 13:55:27'), 36.303000000000004], [Timestamp('1972-04-13 03:39:45'), Timestamp('1972-04-13 03:42:38'), 36.476000000000006], [Timestamp('1972-04-13 08:51:20'), Timestamp('1972-04-13 08:59:38'), 36.974000000000004]]
Total number of blinks in the given data : 30
Average blink duration : 1.2324666666666668
Blink rate (blinks per Minute): 8.391804004755356

In [128]:
def remove_missing(x, y, time, missing):
	mx = np.array(x==missing, dtype=int)
	my = np.array(y==missing, dtype=int)
	x = x[(mx+my) != 2]
	y = y[(mx+my) != 2]
	time = time[(mx+my) != 2]
	return x, y, time

In [129]:
def fixation_detection(x, y, time, missing=0.0, maxdist=25, mindur=100):
    x, y, time = remove_missing(x, y, time, missing)

    Sfix = []
    Efix = []

    si = 0
    fixstart = False
    for i in range(1, len(x)):
        try:
            squared_distance = ((x.iloc[si] - x.iloc[i]) ** 2 + (y.iloc[si] - y.iloc[i]) ** 2)
            dist = 0.0
            if squared_distance > 0:
                dist = squared_distance ** 0.5
            if dist <= maxdist and not fixstart:
                si = 0 + i
                fixstart = True
                Sfix.append([time.iloc[i]])  # Adjusted indexing here
            elif dist > maxdist and fixstart:
                fixstart = False
                if int((time.iloc[i - 1] - Sfix[-1][0]).total_seconds() * 1000) >= mindur:
                    Efix.append([Sfix[-1][0], time.iloc[i - 1], int((time.iloc[i - 1] - Sfix[-1][0]).total_seconds() * 1000), x.iloc[si], y.iloc[si]])  # Adjusted indexing here
                else:
                    Sfix.pop(-1)
                si = 0 + i
            elif not fixstart:
                si += 1
        except IndexError:
            pass

    return Efix
# Load the data
df = pd.read_excel('C:\\Users\\Admin\\Documents\\MATLAB\\eeglab2023.1\\EyeTrackerData.xlsx')
df = df.loc[:,["Sensor Time", "Lft X Pos", "Lft Y Pos", "Lft Pupil Diameter","Rt X Pos", "Rt Y Pos","Rt Pupil Diameter","Capture Time"]]
df['gaze_x'] = (df['Lft X Pos'] + df["Rt X Pos"])/2
df['gaze_y'] = (df['Lft Y Pos'] + df["Rt Y Pos"])/2
df['time_convert'] = df['Capture Time'].apply(lambda x: datetime.utcfromtimestamp(x/1000).strftime('%Y-%m-%d %H:%M:%S'))
df['time_convert'] = df['time_convert'].apply(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))

In [130]:
fixation_detection(df['gaze_x'], df['gaze_y'], df['time_convert'], missing=0.0, maxdist=25, mindur=100)

[[Timestamp('1972-04-10 22:17:18'),
  Timestamp('1972-04-10 22:20:33'),
  195000,
  121.9692,
  86.73845],
 [Timestamp('1972-04-10 22:24:37'),
  Timestamp('1972-04-10 22:24:55'),
  18000,
  331.1363,
  295.98635],
 [Timestamp('1972-04-10 22:25:31'),
  Timestamp('1972-04-10 22:34:27'),
  536000,
  638.4146,
  596.6715],
 [Timestamp('1972-04-10 22:34:54'),
  Timestamp('1972-04-10 23:03:50'),
  1736000,
  620.2367,
  613.7307],
 [Timestamp('1972-04-10 23:07:24'),
  Timestamp('1972-04-10 23:08:41'),
  77000,
  632.2733,
  611.7738],
 [Timestamp('1972-04-10 23:09:22'),
  Timestamp('1972-04-10 23:11:14'),
  112000,
  662.406,
  608.464],
 [Timestamp('1972-04-10 23:11:53'),
  Timestamp('1972-04-10 23:14:30'),
  157000,
  686.6879,
  596.0922],
 [Timestamp('1972-04-10 23:14:54'),
  Timestamp('1972-04-10 23:16:59'),
  125000,
  654.0575,
  600.1948],
 [Timestamp('1972-04-10 23:17:20'),
  Timestamp('1972-04-10 23:18:58'),
  98000,
  624.6464,
  601.4726],
 [Timestamp('1972-04-10 23:19:34'),
  Timestamp('1972-04-10 23:20:16'),
  42000,
  586.8134,
  596.3283],
 [Timestamp('1972-04-10 23:21:12'),
  Timestamp('1972-04-10 23:21:24'),
  12000,
  478.8008,
  583.8598],
 [Timestamp('1972-04-10 23:22:02'),
  Timestamp('1972-04-10 23:22:50'),
  48000,
  444.6832,
  573.5507],
 [Timestamp('1972-04-10 23:23:23'),
  Timestamp('1972-04-10 23:23:38'),
  15000,
  395.9011,
  545.8403],
 [Timestamp('1972-04-10 23:24:08'),
  Timestamp('1972-04-10 23:24:25'),
  17000,
  358.5533,
  524.633],
 [Timestamp('1972-04-10 23:24:54'),
  Timestamp('1972-04-10 23:25:42'),
  48000,
  325.5857,
  504.2791],
 [Timestamp('1972-04-10 23:26:18'),
  Timestamp('1972-04-10 23:29:00'),
  162000,
  297.4288,
  498.1046],
 [Timestamp('1972-04-10 23:31:02'),
  Timestamp('1972-04-10 23:36:19'),
  317000,
  676.7039,
  555.3955],
 [Timestamp('1972-04-10 23:38:41'),
  Timestamp('1972-04-10 23:38:59'),
  18000,
  342.9912,
  271.28965],
 [Timestamp('1972-04-10 23:39:31'),
  Timestamp('1972-04-10 23:40:37'),
  66000,
  660.8865,
  551.1796],
 [Timestamp('1972-04-10 23:56:56'),
  Timestamp('1972-04-11 00:02:53'),
  357000,
  693.6636,
  628.4288],
 [Timestamp('1972-04-11 00:03:25'),
  Timestamp('1972-04-11 00:10:58'),
  453000,
  719.3433,
  632.3283],
 [Timestamp('1972-04-11 01:29:29'),
  Timestamp('1972-04-11 01:33:06'),
  217000,
  716.8359,
  639.7897],
 [Timestamp('1972-04-11 01:33:42'),
  Timestamp('1972-04-11 01:42:49'),
  547000,
  690.925,
  636.8568],
 [Timestamp('1972-04-11 01:43:31'),
  Timestamp('1972-04-11 01:44:21'),
  50000,
  680.3968,
  613.1409],
 [Timestamp('1972-04-11 01:44:45'),
  Timestamp('1972-04-11 01:45:09'),
  24000,
  636.9645,
  596.6498],
 [Timestamp('1972-04-11 01:45:33'),
  Timestamp('1972-04-11 01:46:21'),
  48000,
  600.6773,
  580.5336],
 [Timestamp('1972-04-11 01:46:57'),
  Timestamp('1972-04-11 01:47:43'),
  46000,
  568.5738,
  568.5925],
 [Timestamp('1972-04-11 01:48:19'),
  Timestamp('1972-04-11 01:50:15'),
  116000,
  537.4035,
  558.0575],
 [Timestamp('1972-04-11 01:50:44'),
  Timestamp('1972-04-11 01:53:06'),
  142000,
  510.0837,
  563.8505],
 [Timestamp('1972-04-11 01:53:41'),
  Timestamp('1972-04-11 01:55:32'),
  111000,
  539.5045,
  565.8823],
 [Timestamp('1972-04-11 01:56:08'),
  Timestamp('1972-04-11 02:00:25'),
  257000,
  570.2681,
  570.0664],
 [Timestamp('1972-04-11 02:01:02'),
  Timestamp('1972-04-11 02:02:44'),
  102000,
  599.5487,
  572.1739],
 [Timestamp('1972-04-11 02:03:08'),
  Timestamp('1972-04-11 02:08:03'),
  295000,
  625.7799,
  567.7587],
 [Timestamp('1972-04-11 02:08:33'),
  Timestamp('1972-04-11 02:09:54'),
  81000,
  654.4749,
  575.0498],
 [Timestamp('1972-04-11 02:10:24'),
  Timestamp('1972-04-11 02:14:31'),
  247000,
  682.5567,
  587.184],
 [Timestamp('1972-04-11 02:15:10'),
  Timestamp('1972-04-11 02:17:50'),
  160000,
  706.7651,
  600.5526],
 [Timestamp('1972-04-11 02:18:18'),
  Timestamp('1972-04-11 02:19:26'),
  68000,
  676.1807,
  605.8247],
 [Timestamp('1972-04-11 02:23:08'),
  Timestamp('1972-04-11 02:24:43'),
  95000,
  328.6123,
  301.59455],
 [Timestamp('1972-04-11 02:25:22'),
  Timestamp('1972-04-11 02:26:22'),
  60000,
  652.699,
  631.2128],
 [Timestamp('1972-04-11 02:27:00'),
  Timestamp('1972-04-11 02:29:04'),
  124000,
  659.3305,
  661.0172],
 [Timestamp('1972-04-11 02:29:37'),
  Timestamp('1972-04-11 02:40:42'),
  665000,
  683.59,
  652.819],
 [Timestamp('1972-04-11 02:41:14'),
  Timestamp('1972-04-11 02:46:58'),
  344000,
  674.1924,
  627.6898],
 [Timestamp('1972-04-11 02:47:36'),
  Timestamp('1972-04-11 02:48:35'),
  59000,
  711.2231,
  616.7567],
 [Timestamp('1972-04-11 02:49:08'),
  Timestamp('1972-04-11 02:56:03'),
  415000,
  739.2192,
  611.1624],
 [Timestamp('1972-04-11 02:56:23'),
  Timestamp('1972-04-11 02:56:56'),
  33000,
  707.6224,
  606.1067],
 [Timestamp('1972-04-11 02:57:31'),
  Timestamp('1972-04-11 02:59:27'),
  116000,
  675.8487,
  607.1884],
 [Timestamp('1972-04-11 02:59:54'),
  Timestamp('1972-04-11 03:05:59'),
  365000,
  649.3069,
  610.2421],
 [Timestamp('1972-04-11 03:06:26'),
  Timestamp('1972-04-11 03:06:56'),
  30000,
  684.2887,
  621.1368],
 [Timestamp('1972-04-11 03:07:28'),
  Timestamp('1972-04-11 03:08:19'),
  51000,
  715.3316,
  623.0437],
 [Timestamp('1972-04-11 03:08:49'),
  Timestamp('1972-04-11 03:09:37'),
  48000,
  748.5767,
  615.4673],
 [Timestamp('1972-04-11 03:15:26'),
  Timestamp('1972-04-11 03:18:00'),
  154000,
  690.6923,
  649.5443],
 [Timestamp('1972-04-11 03:18:41'),
  Timestamp('1972-04-11 03:19:26'),
  45000,
  673.0719,
  617.8266],
 [Timestamp('1972-04-11 03:19:52'),
  Timestamp('1972-04-11 03:22:58'),
  186000,
  653.9554,
  591.0247],
 [Timestamp('1972-04-11 03:23:34'),
  Timestamp('1972-04-11 03:23:43'),
  9000,
  698.0352,
  597.9731],
 [Timestamp('1972-04-11 03:24:22'),
  Timestamp('1972-04-11 03:25:34'),
  72000,
  732.5925,
  600.6963],
 [Timestamp('1972-04-11 03:26:07'),
  Timestamp('1972-04-11 03:28:39'),
  152000,
  762.3305,
  586.4976],
 [Timestamp('1972-04-11 03:29:09'),
  Timestamp('1972-04-11 03:30:17'),
  68000,
  790.9917,
  599.7207],
 [Timestamp('1972-04-11 03:30:43'),
  Timestamp('1972-04-11 03:33:34'),
  171000,
  816.6566,
  616.7605],
 [Timestamp('1972-04-11 03:34:01'),
  Timestamp('1972-04-11 03:35:19'),
  78000,
  842.4094,
  623.0117],
 [Timestamp('1972-04-11 03:39:19'),
  Timestamp('1972-04-11 03:39:30'),
  11000,
  151.6823,
  517.9565],
 [Timestamp('1972-04-11 03:40:23'),
  Timestamp('1972-04-11 03:40:29'),
  6000,
  144.2279,
  522.7768],
 [Timestamp('1972-04-11 03:43:10'),
  Timestamp('1972-04-11 03:43:40'),
  30000,
  79.46925,
  258.1977],
 [Timestamp('1972-04-11 03:49:42'),
  Timestamp('1972-04-11 03:50:45'),
  63000,
  505.2944,
  509.1522],
 [Timestamp('1972-04-11 03:51:21'),
  Timestamp('1972-04-11 03:53:34'),
  133000,
  474.7806,
  510.8071],
 [Timestamp('1972-04-11 03:54:00'),
  Timestamp('1972-04-11 03:57:41'),
  221000,
  448.577,
  510.1878],
 [Timestamp('1972-04-11 03:58:04'),
  Timestamp('1972-04-11 04:00:17'),
  133000,
  436.757,
  482.8689],
 [Timestamp('1972-04-11 04:00:53'),
  Timestamp('1972-04-11 04:04:27'),
  214000,
  425.5344,
  461.8748],
 [Timestamp('1972-04-11 04:04:48'),
  Timestamp('1972-04-11 04:07:08'),
  140000,
  409.4134,
  436.0778],
 [Timestamp('1972-04-11 04:07:43'),
  Timestamp('1972-04-11 04:11:35'),
  232000,
  406.2558,
  408.5356],
 [Timestamp('1972-04-11 04:12:05'),
  Timestamp('1972-04-11 04:14:49'),
  164000,
  387.9294,
  391.3958],
 [Timestamp('1972-04-11 04:15:22'),
  Timestamp('1972-04-11 04:21:10'),
  348000,
  373.6951,
  366.223],
 [Timestamp('1972-04-11 04:21:34'),
  Timestamp('1972-04-11 04:22:07'),
  33000,
  377.1909,
  408.8517],
 [Timestamp('1972-04-11 04:22:51'),
  Timestamp('1972-04-11 04:23:45'),
  54000,
  374.1908,
  451.3897],
 [Timestamp('1972-04-11 04:24:30'),
  Timestamp('1972-04-11 04:27:41'),
  191000,
  376.3526,
  483.3862],
 [Timestamp('1972-04-11 04:28:05'),
  Timestamp('1972-04-11 04:31:37'),
  212000,
  359.9397,
  505.0158],
 [Timestamp('1972-04-11 04:32:08'),
  Timestamp('1972-04-11 04:38:38'),
  390000,
  334.5816,
  515.6978],
 [Timestamp('1972-04-11 04:39:20'),
  Timestamp('1972-04-11 04:40:08'),
  48000,
  322.6484,
  479.3152],
 [Timestamp('1972-04-11 04:40:29'),
  Timestamp('1972-04-11 04:42:05'),
  96000,
  321.1696,
  444.7841],
 [Timestamp('1972-04-11 04:42:23'),
  Timestamp('1972-04-11 04:44:01'),
  98000,
  324.2403,
  411.4176],
 [Timestamp('1972-04-11 04:44:37'),
  Timestamp('1972-04-11 04:45:37'),
  60000,
  314.0931,
  383.3976],
 [Timestamp('1972-04-11 04:46:16'),
  Timestamp('1972-04-11 04:47:40'),
  84000,
  294.0419,
  357.5926],
 [Timestamp('1972-04-11 04:48:04'),
  Timestamp('1972-04-11 04:49:43'),
  99000,
  275.438,
  327.0855],
 [Timestamp('1972-04-11 04:50:19'),
  Timestamp('1972-04-11 04:51:22'),
  63000,
  256.93,
  295.6666],
 [Timestamp('1972-04-11 04:51:58'),
  Timestamp('1972-04-11 04:53:46'),
  108000,
  241.7565,
  269.996],
 [Timestamp('1972-04-11 04:54:28'),
  Timestamp('1972-04-11 04:57:00'),
  152000,
  220.0698,
  246.4504],
 [Timestamp('1972-04-11 04:57:42'),
  Timestamp('1972-04-11 04:58:39'),
  57000,
  196.7994,
  229.44],
 [Timestamp('1972-04-11 04:59:20'),
  Timestamp('1972-04-11 04:59:29'),
  9000,
  206.376,
  277.318],
 [Timestamp('1972-04-11 05:00:08'),
  Timestamp('1972-04-11 05:00:49'),
  41000,
  218.9844,
  334.3771],
 [Timestamp('1972-04-11 05:01:19'),
  Timestamp('1972-04-11 05:03:44'),
  145000,
  215.8884,
  363.5598],
 [Timestamp('1972-04-11 05:04:26'),
  Timestamp('1972-04-11 05:05:37'),
  71000,
  191.5917,
  387.3008],
 [Timestamp('1972-04-11 05:06:16'),
  Timestamp('1972-04-11 05:08:03'),
  107000,
  162.9144,
  402.0007],
 [Timestamp('1972-04-11 05:08:45'),
  Timestamp('1972-04-11 05:11:36'),
  171000,
  136.3578,
  414.2032],
 [Timestamp('1972-04-11 05:12:11'),
  Timestamp('1972-04-11 05:12:26'),
  15000,
  110.0887,
  419.853],
 [Timestamp('1972-04-11 05:16:02'),
  Timestamp('1972-04-11 05:16:11'),
  9000,
  634.6079,
  236.07975],
 [Timestamp('1972-04-11 05:18:06'),
  Timestamp('1972-04-11 05:18:33'),
  27000,
  631.46625,
  216.6554],
 [Timestamp('1972-04-11 05:19:18'),
  Timestamp('1972-04-11 05:19:27'),
  9000,
  624.74255,
  204.68435],
 [Timestamp('1972-04-11 05:20:16'),
  Timestamp('1972-04-11 05:20:31'),
  15000,
  622.15185,
  207.01615],
 [Timestamp('1972-04-11 05:21:57'),
  Timestamp('1972-04-11 05:23:15'),
  78000,
  620.06195,
  200.8256],
 [Timestamp('1972-04-11 05:25:17'),
  Timestamp('1972-04-11 05:25:23'),
  6000,
  602.24875,
  180.09425],
 [Timestamp('1972-04-11 05:27:51'),
  Timestamp('1972-04-11 05:28:54'),
  63000,
  588.8593,
  172.69595],
 [Timestamp('1972-04-11 05:32:51'),
  Timestamp('1972-04-11 05:33:15'),
  24000,
  573.90695,
  155.70245],
 [Timestamp('1972-04-11 06:00:29'),
  Timestamp('1972-04-11 06:02:59'),
  150000,
  399.80955,
  226.65455],
 [Timestamp('1972-04-11 06:03:34'),
  Timestamp('1972-04-11 06:04:39'),
  65000,
  371.28455,
  220.84325],
 [Timestamp('1972-04-11 06:05:14'),
  Timestamp('1972-04-11 06:07:02'),
  108000,
  341.73495,
  230.58045],
 [Timestamp('1972-04-11 06:07:41'),
  Timestamp('1972-04-11 06:07:53'),
  12000,
  294.0367,
  231.29305],
 [Timestamp('1972-04-11 06:08:29'),
  Timestamp('1972-04-11 06:09:19'),
  50000,
  249.0208,
  233.0045],
 [Timestamp('1972-04-11 06:09:46'),
  Timestamp('1972-04-11 06:12:29'),
  163000,
  220.2756,
  246.1664],
 [Timestamp('1972-04-11 06:12:56'),
  Timestamp('1972-04-11 06:14:55'),
  119000,
  194.47615,
  246.8293],
 [Timestamp('1972-04-11 06:18:56'),
  Timestamp('1972-04-11 06:19:23'),
  27000,
  690.2385,
  592.6004],
 [Timestamp('1972-04-11 06:20:31'),
  Timestamp('1972-04-11 06:21:07'),
  36000,
  589.3944,
  569.9185],
 [Timestamp('1972-04-11 06:21:46'),
  Timestamp('1972-04-11 06:29:44'),
  478000,
  558.1118,
  581.1336],
 [Timestamp('1972-04-11 06:31:43'),
  Timestamp('1972-04-11 06:33:15'),
  92000,
  729.6371,
  588.7028],
 [Timestamp('1972-04-11 06:33:51'),
  Timestamp('1972-04-11 06:35:17'),
  86000,
  756.7101,
  577.6016],
 [Timestamp('1972-04-11 06:35:41'),
  Timestamp('1972-04-11 06:36:05'),
  24000,
  795.8624,
  569.2593],
 [Timestamp('1972-04-11 06:36:32'),
  Timestamp('1972-04-11 06:37:01'),
  29000,
  835.0006,
  555.5424],
 [Timestamp('1972-04-11 06:37:45'),
  Timestamp('1972-04-11 06:38:08'),
  23000,
  880.4571,
  541.7068],
 [Timestamp('1972-04-11 06:38:44'),
  Timestamp('1972-04-11 06:39:46'),
  62000,
  919.1996,
  537.4294],
 [Timestamp('1972-04-11 06:40:18'),
  Timestamp('1972-04-11 06:41:59'),
  101000,
  944.7074,
  528.6067],
 [Timestamp('1972-04-11 06:44:25'),
  Timestamp('1972-04-11 06:44:37'),
  12000,
  441.3135,
  256.8034],
 [Timestamp('1972-04-11 06:45:43'),
  Timestamp('1972-04-11 06:48:57'),
  194000,
  823.7756,
  545.902],
 [Timestamp('1972-04-11 06:49:30'),
  Timestamp('1972-04-11 06:50:23'),
  53000,
  791.136,
  551.9329],
 [Timestamp('1972-04-11 06:51:05'),
  Timestamp('1972-04-11 06:51:11'),
  6000,
  739.7892,
  561.6719],
 [Timestamp('1972-04-11 06:51:50'),
  Timestamp('1972-04-11 06:53:15'),
  85000,
  705.9425,
  567.1833],
 [Timestamp('1972-04-11 06:53:45'),
  Timestamp('1972-04-11 06:56:09'),
  144000,
  678.7744,
  572.8976],
 [Timestamp('1972-04-11 06:56:30'),
  Timestamp('1972-04-11 06:58:37'),
  127000,
  649.3273,
  582.6075],
 [Timestamp('1972-04-11 06:58:57'),
  Timestamp('1972-04-11 07:10:56'),
  719000,
  620.3387,
  575.8204],
 [Timestamp('1972-04-11 07:11:23'),
  Timestamp('1972-04-11 07:16:09'),
  286000,
  592.972,
  566.3753],
 [Timestamp('1972-04-11 07:18:43'),
  Timestamp('1972-04-11 07:18:57'),
  14000,
  304.7235,
  289.503],
 [Timestamp('1972-04-11 07:20:20'),
  Timestamp('1972-04-11 07:20:59'),
  39000,
  738.595,
  569.744],
 [Timestamp('1972-04-11 07:21:25'),
  Timestamp('1972-04-11 07:21:58'),
  33000,
  775.9895,
  574.857],
 [Timestamp('1972-04-11 07:22:40'),
  Timestamp('1972-04-11 07:23:37'),
  57000,
  810.9913,
  556.2835],
 [Timestamp('1972-04-11 07:24:16'),
  Timestamp('1972-04-11 07:24:28'),
  12000,
  855.2477,
  555.8636],
 [Timestamp('1972-04-11 07:24:58'),
  Timestamp('1972-04-11 07:25:18'),
  20000,
  899.0446,
  543.0326],
 [Timestamp('1972-04-11 07:26:09'),
  Timestamp('1972-04-11 07:26:15'),
  6000,
  986.7274,
  523.062],
 [Timestamp('1972-04-11 07:27:01'),
  Timestamp('1972-04-11 07:27:51'),
  50000,
  1023.9943,
  515.8926],
 [Timestamp('1972-04-11 07:28:09'),
  Timestamp('1972-04-11 07:29:41'),
  92000,
  1055.6369,
  504.2545],
 [Timestamp('1972-04-11 07:31:22'),
  Timestamp('1972-04-11 07:34:06'),
  164000,
  789.3521,
  482.0867],
 [Timestamp('1972-04-11 07:34:41'),
  Timestamp('1972-04-11 07:35:14'),
  33000,
  756.4277,
  490.9665],
 [Timestamp('1972-04-11 07:35:43'),
  Timestamp('1972-04-11 07:37:44'),
  121000,
  732.3521,
  515.0921],
 [Timestamp('1972-04-11 07:38:08'),
  Timestamp('1972-04-11 07:40:37'),
  149000,
  704.365,
  538.157],
 [Timestamp('1972-04-11 07:42:36'),
  Timestamp('1972-04-11 07:42:51'),
  15000,
  345.04555,
  264.32575],
 [Timestamp('1972-04-11 07:43:50'),
  Timestamp('1972-04-11 07:44:08'),
  18000,
  581.7448,
  530.9625],
 [Timestamp('1972-04-11 07:45:26'),
  Timestamp('1972-04-11 07:46:14'),
  48000,
  526.4193,
  536.6792],
 [Timestamp('1972-04-11 07:46:56'),
  Timestamp('1972-04-11 07:50:35'),
  219000,
  492.3552,
  533.8867],
 [Timestamp('1972-04-11 07:51:10'),
  Timestamp('1972-04-11 07:51:57'),
  47000,
  457.3402,
  532.4019],
 [Timestamp('1972-04-11 07:52:36'),
  Timestamp('1972-04-11 07:53:23'),
  47000,
  415.9037,
  528.4847],
 [Timestamp('1972-04-11 07:53:47'),
  Timestamp('1972-04-11 07:57:55'),
  248000,
  386.2557,
  531.0477],
 [Timestamp('1972-04-11 08:00:24'),
  Timestamp('1972-04-11 08:00:36'),
  12000,
  630.19525,
  214.4492],
 [Timestamp('1972-04-11 08:03:02'),
  Timestamp('1972-04-11 08:06:19'),
  197000,
  622.8214,
  215.3247],
 [Timestamp('1972-04-11 08:07:22'),
  Timestamp('1972-04-11 08:09:31'),
  129000,
  583.02545,
  225.01335],
 [Timestamp('1972-04-11 09:15:29'),
  Timestamp('1972-04-11 09:17:04'),
  95000,
  908.7781,
  527.2729],
 [Timestamp('1972-04-11 09:20:25'),
  Timestamp('1972-04-11 09:21:04'),
  39000,
  1141.5641,
  364.3765],
 [Timestamp('1972-04-11 09:21:28'),
  Timestamp('1972-04-11 09:21:49'),
  21000,
  1171.0541,
  346.5048],
 [Timestamp('1972-04-11 09:27:50'),
  Timestamp('1972-04-11 09:28:20'),
  30000,
  76.40215,
  98.75055],
 [Timestamp('1972-04-11 09:51:17'),
  Timestamp('1972-04-11 09:52:04'),
  47000,
  487.5776,
  570.0075],
 [Timestamp('1972-04-11 09:52:43'),
  Timestamp('1972-04-11 09:53:51'),
  68000,
  508.6869,
  581.5782],
 [Timestamp('1972-04-11 09:54:36'),
  Timestamp('1972-04-11 09:54:42'),
  6000,
  473.1395,
  556.6481],
 [Timestamp('1972-04-11 09:55:24'),
  Timestamp('1972-04-11 09:55:30'),
  6000,
  422.536,
  533.6624],
 [Timestamp('1972-04-11 09:56:18'),
  Timestamp('1972-04-11 09:56:54'),
  36000,
  348.4233,
  479.7499],
 [Timestamp('1972-04-11 09:57:26'),
  Timestamp('1972-04-11 09:58:49'),
  83000,
  320.0635,
  466.0212],
 [Timestamp('1972-04-11 09:59:27'),
  Timestamp('1972-04-11 10:00:39'),
  72000,
  289.8516,
  460.8803],
 [Timestamp('1972-04-11 10:02:00'),
  Timestamp('1972-04-11 10:04:16'),
  136000,
  548.5393,
  177.30265],
 [Timestamp('1972-04-11 10:06:56'),
  Timestamp('1972-04-11 10:09:33'),
  157000,
  614.52265,
  119.51725],
 [Timestamp('1972-04-11 10:10:16'),
  Timestamp('1972-04-11 10:10:40'),
  24000,
  589.21915,
  144.9384],
 [Timestamp('1972-04-11 10:11:13'),
  Timestamp('1972-04-11 10:12:01'),
  48000,
  589.5553,
  178.72335],
 [Timestamp('1972-04-11 10:15:57'),
  Timestamp('1972-04-11 10:19:40'),
  223000,
  521.2795,
  539.5596],
 [Timestamp('1972-04-11 10:20:24'),
  Timestamp('1972-04-11 10:20:42'),
  18000,
  554.5218,
  524.6859],
 [Timestamp('1972-04-11 10:21:14'),
  Timestamp('1972-04-11 10:21:29'),
  15000,
  594.59,
  535.8512],
 [Timestamp('1972-04-11 10:22:02'),
  Timestamp('1972-04-11 10:22:44'),
  42000,
  644.763,
  540.3611],
 [Timestamp('1972-04-11 10:23:08'),
  Timestamp('1972-04-11 10:24:23'),
  75000,
  676.3866,
  522.791],
 [Timestamp('1972-04-11 10:26:09'),
  Timestamp('1972-04-11 10:26:45'),
  36000,
  837.5069,
  422.7623],
 [Timestamp('1972-04-11 10:27:09'),
  Timestamp('1972-04-11 10:29:28'),
  139000,
  866.2572,
  402.876],
 [Timestamp('1972-04-11 10:29:52'),
  Timestamp('1972-04-11 10:33:30'),
  218000,
  891.6369,
  395.9188],
 [Timestamp('1972-04-11 10:33:53'),
  Timestamp('1972-04-11 10:35:59'),
  126000,
  922.1024,
  417.7957],
 [Timestamp('1972-04-11 10:36:23'),
  Timestamp('1972-04-11 10:38:37'),
  134000,
  946.5674,
  437.5446],
 [Timestamp('1972-04-11 10:39:04'),
  Timestamp('1972-04-11 10:43:41'),
  277000,
  950.2236,
  466.5275],
 [Timestamp('1972-04-11 10:44:20'),
  Timestamp('1972-04-11 10:45:32'),
  72000,
  935.7925,
  445.615],
 [Timestamp('1972-04-11 10:46:08'),
  Timestamp('1972-04-11 10:47:11'),
  63000,
  930.6447,
  414.1177],
 [Timestamp('1972-04-11 10:49:30'),
  Timestamp('1972-04-11 10:52:54'),
  204000,
  406.1368,
  463.867],
 [Timestamp('1972-04-11 10:53:39'),
  Timestamp('1972-04-11 10:53:57'),
  18000,
  362.8253,
  454.7275],
 [Timestamp('1972-04-11 10:54:36'),
  Timestamp('1972-04-11 10:54:44'),
  8000,
  329.6093,
  440.4706],
 [Timestamp('1972-04-11 10:55:25'),
  Timestamp('1972-04-11 10:55:31'),
  6000,
  274.0433,
  410.9802],
 [Timestamp('1972-04-11 10:56:13'),
  Timestamp('1972-04-11 10:56:46'),
  33000,
  240.6283,
  411.728],
 [Timestamp('1972-04-11 10:57:10'),
  Timestamp('1972-04-11 10:59:07'),
  117000,
  223.4313,
  387.7743],
 [Timestamp('1972-04-11 10:59:40'),
  Timestamp('1972-04-11 11:02:41'),
  181000,
  198.1018,
  373.8369],
 [Timestamp('1972-04-11 11:03:08'),
  Timestamp('1972-04-11 11:05:12'),
  124000,
  174.4993,
  355.7034],
 [Timestamp('1972-04-11 11:05:39'),
  Timestamp('1972-04-11 11:06:03'),
  24000,
  159.7969,
  312.1581],
 [Timestamp('1972-04-11 11:06:24'),
  Timestamp('1972-04-11 11:07:00'),
  36000,
  147.8215,
  273.4987],

In [131]:

fixations = fixation_detection(df['gaze_x'], df['gaze_y'], df['time_convert'])

total_fixation_duration = sum((end - start).total_seconds() for start, end, duration, _, _ in fixations)

average_fixation_duration = total_fixation_duration / len(fixations)

# Total fixation count
total_fixation_count = len(fixations)

print("Average Fixation Duration (seconds):", average_fixation_duration)
print("Total Fixation Count:", total_fixation_count)

Average Fixation Duration (seconds): 156.06755126658624
Total Fixation Count: 829